{% extends '_layouts/base.twig' %}
{% import '_macros' as macros %}

{% block title %}
	{{ entry.title }} - {{ siteName }}
{% endblock %}

{% block content %}
	<section class="about-hero section-intro section-max-width xl:pr-[20%]" aria-labelledby="about-heading">
		{# Intro Text: Contains H1 (name) and H2 (tagline) from CMS #}
		<div class="about-intro">
			{% include '_partials/intro-text' with {
				text: entry.introText
			} only %}
		</div>
	</section>
	
	<div class="bg-darker pt-24 pb-32">
		<section class="about-box section-max-width text-fs-small flex flex-col gap-6 text-white lg:flex-row lg:gap-16">
			{% set profileImage = entry.profileImage.one() %}
			{% if profileImage %}
				<div class="about-image-container w-full md:w-1/3">
					<figure class="about-image">
						<img
							src="{{ profileImage.getUrl('w800') }}"
							srcset="{{ macros.srcSet(profileImage) }}"
							sizes="(min-width: 1024px) 25vw, 50vw"
							alt="{{ entry.title }}"
							class="rounded-full object-cover"
							loading="eager"
						/>
					</figure>
				</div>
			{% endif %}
			{% if entry.body %}
				<div class="about-text w-full max-w-2xl pt-8 lg:w-2/3">
					{% include '_partials/about-text' with {
						text: entry.body
					} only %}
				</div>
			{% endif %}
		</article>
	</div>
{% endblock %}
