{% extends '_layouts/base.twig' %}
{% import '_macros' as macros %}

{% block title %}
	{{ entry.title }} - {{ siteName }}
{% endblock %}

{% block content %}
	<section class="project-section-intro section-max-width" aria-labelledby="project-heading">
		<h1 class="intro-text mb-4">
			<strong class="font-medium">{{ entry.title }}</strong>
			<span class="hidden md:inline">-</span>
			<span class="block md:inline">{{ entry.shortDescription }}</span>
		</h1>
		{# Tech Stack - Essential Only #}
		{% set essentialTech = entry.techStackItems.all()|filter(tech => tech.techItemCategory.value == 'essential') %}
		{% if essentialTech|length %}
			<ul class="font-fs-small mt-4 mb-8 flex flex-wrap gap-1 text-gray-600">
				{% for tech in essentialTech %}
					<li>{{ tech.techItemName }}{% if not loop.last %},{% endif %}</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if entry.githubUrl %}
			<p class="mb-4">
				<a href="{{ entry.githubUrl }}" class="link-inline text-fs-medium ml-0" target="_blank" rel="noopener">
					Github repository
				</a>
				{% if entry.helpTextGithubUrl %}
					<small class="text-fs-smaller mt-2 block text-gray-600">{{ entry.helpTextGithubUrl }}</small>
				{% endif %}
			</p>
		{% endif %}

		{% if entry.projectUrl %}
			<p>
				<a href="{{ entry.projectUrl }}" class="link-inline text-fs-medium ml-0" target="_blank" rel="noopener">
					Live website
				</a>
				{% if entry.helpText %}
					<small class="text-fs-smaller mt-2 block text-gray-600">{{ entry.helpText }}</small>
				{% endif %}
			</p>
		{% endif %}
	</section>
	<article class="mt-24 text-lg/7 md:mt-32">
		{% set contentSections = entry.contentSections.eagerly().all() %}

		{% if contentSections|length %}
			{% for section in contentSections %}
				{# Check what TYPE of block this is #}
				{% switch section.type %}
				{% case 'overview' %}
				{% include '_partials/project-content-blocks/project-overview' with {
					section: section,
					entry: entry
				} only %}

				{% case 'textSection' %}
				{% include '_partials/project-content-blocks/project-text-section' with {
					section: section
				} only %}

				{% case 'imageSection' %}
				{% include '_partials/project-content-blocks/project-image-section' with {
					section: section
				} only %}
				{% endswitch %}
			{% endfor %}
		{% endif %}

		{# Tech Stack #}
		{% include '_modules/project-tech-stack' with {
			entry: entry
		} only %}
		{# Gallery #}
		{% include '_modules/project-gallery' with {
			entry: entry
		} only %}
		{# Back link #}
		<div class="section-max-width">
			<a href="{{ url('projects') }}" class="mt-8 inline-block">← Back to Projects</a>
		</div>
	</article>
{% endblock %}
