{% import '_macros' as macros %}
<article>
	<h3 class="text-lg font-medium">teaser</h3>
	{% set image = entry.heroImage.one() %}
	{% if image %}
		<img
			src="{{ image.getUrl('w1200') }}"
			srcset="{{ macros.srcSet(image) }}"
			sizes="(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw"
			alt="{{ image.title }}"
			class="h-auto w-full"
			loading="lazy"
		/>
	{% endif %}

	{# 5. Title as link to detail page #}
	<h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>

	{# 6. Short description #}

	{# 7. Tech stack tags - Essential Only #}
	{% set essentialTech = entry.techStackItems.all()|filter(tech => tech.techItemCategory.value == 'essential') %}
	{% if essentialTech|length %}
		<ul>
			{% for tech in essentialTech %}
				<li>{{ tech.techItemName }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</article>
