<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			{% block title %}
				{{ siteName }}
			{% endblock %}
		</title>

		{{ craft.vite.script('src/js/main.ts', false) }}
		{% set pageClass = 'page-' ~ entry.section.handle ?? 'home' %}
		{{ head() }}
	</head>
	<body class="flex min-h-screen flex-col selection:bg-accent selection:text-white {{ pageClass }}">
		{% include '_modules/site-nav' %}
		<main class="flex-1">
			{% block content %}

			{% endblock %}
		</main>
		{% include '_modules/site-footer' %}
		{{ endBody() }}
	</body>
</html>
