{% set category = category|default(['essential', 'fullList']) %}
{% set wrapperClasses = wrapperClasses|default('') %}
{% set itemClasses = itemClasses|default('') %}
{% set itemsHaveDescription = itemsHaveDescription|default(false) %}
{% set itemsSeparator = itemsSeparator|default(',') %}

{% set categoryFilter = category is iterable ? category : [category] %}
{% set techStackItems =
	entry.techStackItems.eagerly().all()|filter(item => item.techItemCategory.value in categoryFilter)
%}
{% if techStackItems|length %}
	<ul class="{{ wrapperClasses }}" data-reveal-item>
		{% for item in techStackItems %}
			<li class="{{ itemClasses }}">
				<strong class="font-medium">{{ item.techItemName }}</strong>{% if
					itemsHaveDescription and item.techItemDescription %}
					<span>({{ item.techItemDescription }})</span>
				{% endif -%}
				{% if not loop.last and itemsSeparator %}{{ itemsSeparator }}{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
